@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
.container{
    padding: 0 6.25rem;
}
.nav-btn >a{
    padding: 4px 16px;
    font-weight: 600;
    border-radius: 29px;
    background: #3D6BB7;
    border: solid #3D6BB7;
    width: 47px;
    height: 20px;
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}
#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
#navbar .container{
    padding-block: 1.5rem;
    display: flex;
    justify-content: space-between;
    backdrop-filter: brightness(50%);
    background: linear-gradient(158.55deg, #165FAB 0%, rgba(153, 184, 235, 0) 132.27%);;
}
#navbar .container .nav-menu{
    display: flex;
    align-items: center;
}
#navbar .container .nav-menu .nav-link>a{
    color: white;
    font-weight: 400;
    text-decoration: none;
    padding: 1rem;
}
