<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <nav id="nav">
        <div class="container">
                <div class="logo">
                    <img src="./logodummy.png" alt="">
                </div>
            <div class="menu">
                <div class="link">
                    <a href="#">Dashboard</a>
                    <a class="participant" href="#">Participant</a>
                    <a class="log" href="#">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <section id="team">
        <div class="container">
            <div class="block">
                <div class="fitur">
                <button><img src="./sort.jpg" alt="" class="sort"></button>
                <button><img src="./filter.jpg" alt="" class="filter"></button>
                <input type="text" placeholder="Search" class="search">
                </div>
            <div class="nama">
                <div class="nama1">
                    <div>Nama Team</div>
                </div>
                <div class="del">
                    <div>Delete</div>
                </div>
                <div class="edit">
                    <div>Edit</div>
                </div>
                <div class="view">
                    <div>View</div>
                </div>
            </div>
            <div class="block1">
              <div class="teams">
                    <div>TechnoScape</div>
                </div>
                <div class="trash">
                    <button><img src="./trash.jpg" alt="" class=""></button>
                </div>
                <div class="edit">
                    <button><img src="./edit.jpg" alt=""></button>
                </div>
                <div class="view"><button>
                    <img src="./view.jpg" alt="">
                </button></div>
            </div>
             <div class="block2">
              <div class="teams2">
                    <div>Hackthon</div>
                </div>
                <div class="trash2">
                    <button><img src="./trash.jpg" alt="" class=""></button>
                </div>
                <div class="edit2">
                    <button><img src="./edit.jpg" alt=""></button>
                </div>
                <div class="view2"><button>
                    <img src="./view.jpg" alt="">
                </button></div>
            </div>
        </div>
    </div>
    </section> 
    
</body>
</html>